<ion-content>
  <img src="assets/img/404.svg" alt="404 img" width="500" />

  <div class="ion-text-center">
    <ion-text class="ion-text-center" color="light">
      <h1>No existe el recurso solicitado</h1>
    </ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-button
        class="main"
        color="light"
        fill="outline"
        size="large"
        [routerLink]="['/app/inicio']"
        routerDirection="back"
      >
        Ir a Inicio
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
