ion-content {
  --background: var(--ion-color-secondary);
  --padding-top: 30vh;
  --padding-start: 8.4vw;
  --padding-end: 8.4vw;
  --color: white;
}

img {
  display: block;
  margin: 0 auto;
  opacity: 0.7;
}

h1.title {
  text-transform: uppercase;
}

ion-button.main {
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 60vw;
  height: 55px;
  --border-radius: 0;
}
