<ion-content>
  <ion-grid fixed>
    <div class="contenido">
      <img src="/assets/img/logo/logo.svg" alt="logo" class="logo" />

      <h1 class="title">Login</h1>

      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">
            Correo
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required #email type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"
            >Contraseña <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input required #password type="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row class="ion-justify-content-end ion-margin-bottom">
          <ion-button
            fill="clear"
            size="small"
            routerLink="/login/forgot"
            routerDirection="forward"
          >
            ¿Olvidaste tu contraseña?
          </ion-button>
        </ion-row>
        <ion-row style="height: 30vh">
          <ion-button
            class="main ion-margin-top"
            color="dark"
            fill="outline"
            size="large"
            (click)="logIn(email.value, password.value)"
          >
            Login
          </ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-bottom">
          <div class="ion-text-center">
            ¿No tienes cuenta?
            <a class="dark" routerLink="/register" routerDirection="forward">
              Registrate
            </a>
          </div>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-button fill="clear" size="small">
            Terminos y Condiciones
          </ion-button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-grid>
</ion-content>
