<ion-content fullscreen class="ion-padding">
  <div class="hide-md ion-text-center ion-hide-lg-up">
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

  <div>
    <h4 class="ion-no-margin ion-text-center">Registrar Vehículo</h4>
  </div>

  <form [formGroup]="carsForm" (submit)="onSubmit()">
    <ion-list class="ion-no-margin ion-margin-horizontal ion-no-padding">
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input
          type="text"
          formControlName="brand"
          placeholder="Honda"
        ></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.brand.errors?.required"
      >
        Especifica la marca del carro.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Línea</ion-label>
        <ion-input
          type="text"
          formControlName="line"
          placeholder="Civic"
        ></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.line.errors?.required"
      >
        Especifica la línea del carro.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input
          type="text"
          formControlName="model"
          placeholder="2015"
        ></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.model.errors?.required"
      >
        Especifica el modelo del carro.
      </ion-text>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.model.errors?.pattern"
      >
        El modelo no es válido.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Tipo de Transmisión</ion-label>
        <ion-select
          [value]="this.update ? this.car.transmition : 'Automatica'"
          (ionChange)="changeValue(s.value)"
          #s
        >
          <ion-select-option value="Automatica">Automática</ion-select-option>
          <ion-select-option value="Mecanica">Mecánica</ion-select-option>
        </ion-select>

        <ion-input type="hidden" formControlName="transmition"></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.transmition.errors?.required"
      >
        Especifica un tipo de Transmisión.
      </ion-text>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.transmition.errors?.pattern"
      >
        Transmisión inválida.
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Color</ion-label>
        <ion-input type="text" formControlName="color"></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.color.errors?.required"
      >
        Especifica el color del carro.
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Placas</ion-label>
        <ion-input type="text" formControlName="license"></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.license.errors?.required"
      >
        Registra las placas del vehículo.
      </ion-text>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.license.errors?.pattern"
      >
        Placas inválidas.
      </ion-text>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">Fotos</ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-evenly">
        <ion-col size="4">
          <ion-button
            color="tertiary"
            type="button"
            [disabled]="update ? !!car.photo : !!photo"
            (click)="takePicture('camera')"
          >
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            Camara
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button
            color="medium"
            type="button"
            [disabled]="update ? !!car.photo : !!photo"
            (click)="takePicture('gallery')"
          >
            <ion-icon slot="start" name="images-outline"></ion-icon>
            Galeria
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="update ? !!car.photo : !!photo">
        <ion-col class="ion-align-items-center">
          <img [src]="update ? car.photo : photo" />
        </ion-col>
      </ion-row>
      <ion-row [hidden]="!(update ? !!car.photo : !!photo)">
        <ion-col>
          <ion-button
            type="button"
            (click)="deletePhoto()"
            color="danger"
            class="ion-float-right ion-margin-right"
            size="small"
          >
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Quitar foto
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <input
      type="file"
      accept="image/*"
      *ngIf="isDesktop"
      #filePicker
      (change)="onFileChoose($event)"
    />
    <ion-text
      color="danger"
      *ngIf="isSubmitted && errorControl.license.errors?.required"
    >
      La foto no es válida.
    </ion-text>

    <ion-button
      type="submit"
      class="ion-margin"
      expand="block"
      color="secondary"
      [disabled]="clicked"
    >
      {{ this.update ? "Actualizar" : "Registrar" }}
    </ion-button>
  </form>
</ion-content>
