<ion-content color="primary">
  <ion-grid fixed>
    <div class="contenido">
      <img src="assets/img/logo/logo-blanco.svg" alt="logo" class="logo" />

      <h1 class="title">Regístrate</h1>

      <form [formGroup]="registerForm" (submit)="onSubmit();">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item color="primary">
            <ion-label position="stacked">
              Nombre <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              required
              formControlName="firstname"
              type="text"
            ></ion-input>
          </ion-item>

          <span
            class="error"
            *ngIf="isSubmitted && errorControl.firstname.errors?.required"
          >
            Su nombre es necesario.
          </span>

          <ion-item color="primary">
            <ion-label position="stacked">
              Apellido <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              required
              formControlName="lastname"
              type="text"
            ></ion-input>
          </ion-item>

          <span
            class="error"
            *ngIf="isSubmitted && errorControl.lastname.errors?.required"
          >
            Su apellido es necesario.
          </span>

          <ion-item color="primary">
            <ion-label position="stacked">
              Documento <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select placeholder="Seleccione" #doc formControlName="docType" (ionChange)="toggle()">
              <ion-select-option value="dpi">DPI</ion-select-option>
              <ion-select-option value="pn">
                Partida de Nacimiento
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="doc.value == 'dpi'">
            <ion-item color="primary">
              <ion-label position="stacked">
                DPI <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="dpi"></ion-input>
            </ion-item>
          </div>

          <span
            class="error"
            *ngIf="isSubmitted && errorControl.dpi.errors?.required"
          >
            Su DPI es necesario.
          </span>
          
          <span
            class="error"
            *ngIf="isSubmitted && errorControl.dpi.errors?.pattern"
          >
            El DPI ingresado no es valido.
          </span>
          
          <div *ngIf="doc.value == 'pn'">
            <ion-item color="primary">
              <ion-label position="stacked">
                Partida de Nacimiento <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="pn"></ion-input>
            </ion-item>
            
            <ion-item color="primary">
              <ion-label position="stacked">
                Nombre y apellido del Padre
              </ion-label>
              <ion-input formControlName="padre"></ion-input>
            </ion-item>
            
            <ion-item color="primary">
              <ion-label position="stacked">
                Nombre y apellido de la Madre
              </ion-label>
              <ion-input formControlName="madre"></ion-input>
            </ion-item>

            
            <ion-item color="primary">
              <ion-label position="stacked">
                Nombre y apellido del tutor
              </ion-label>
              <ion-input formControlName="tutor"></ion-input>
            </ion-item>
          </div>
          <span
            class="error"
            *ngIf="isSubmitted && errorControl.pn.errors?.required"
          >
            Su Partida de nacimiento es necesario.
          </span>
          
          <span
            class="error"
            *ngIf="isSubmitted && errorControl.pn.errors?.pattern"
          >
            La partida de nacimiento ingresada no es valida.
          </span>

          <ion-item color="primary">
            <ion-label position="stacked">
              Correo <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              required
              formControlName="email"
              type="email"
            ></ion-input>
          </ion-item>

          <span
            class="error"
            *ngIf="isSubmitted && errorControl.email.errors?.required"
          >
            El correo no es válido.
          </span>

          <ion-item color="primary">
            <ion-label position="stacked">Telefono</ion-label>
            <ion-input formControlName="tel"></ion-input>
          </ion-item>

          <span
            class="error"
            *ngIf="isSubmitted && (errorControl.tel.errors?.required || errorControl.tel.errors?.pattern)"
          >
            El telefono no es válido.
          </span>

          <ion-item color="primary">
            <ion-label position="stacked">
              Contraseña <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              required
              formControlName="password"
              type="password"
            ></ion-input>
          </ion-item>
          <span
            class="error"
            *ngIf="isSubmitted && (errorControl.password.errors?.required || errorControl.password.errors?.minLength)"
          >
            La contraseña no es válida, debe ser de al menos 8 caracteres.
          </span>

          <ion-item color="primary">
            <ion-label position="stacked">
              Confirmar Contraseña
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              required
              formControlName="confirmpassword"
              type="password"
            ></ion-input>
          </ion-item>

          <span class="error" *ngIf="!confirm">
            La contraseña debe coincidir en ambos campos.
          </span>
        </ion-list>

        <ion-grid>
          <ion-row>
            <ion-button
              class="main"
              color="light"
              fill="outline"
              size="large"
              type="submit"
            >
              Registrarme
            </ion-button>
          </ion-row>
        </ion-grid>
      </form>

      <div class="ion-text-center">
        ¿Ya tienes cuenta?
        <a routerLink="/login" routerDirection="root"> Inicia Sesión </a>
      </div>
    </div>
  </ion-grid>
</ion-content>
