div.contenido {
  padding: 6vh 8.4vw 0 8.4vw;
  max-height: 98vh;

  ion-list {
    background-color: transparent!important;
  }

  ion-item {
    --padding-start: 0;

    ion-label {
      text-transform: uppercase;
    }
  }
}

a {
  color: var(--ion-color-secondary);
  text-decoration: none;
}
