section > img {
  // font-size: 5em;
  margin-top: 25px;
  max-width: 400px;
  width: 90%;
}

ion-card.ion-no-margin{
  margin: 15px 5px;
}

ion-card ion-icon {
  font-size: 5em;
  opacity: 0.9;
}

h2 {
  margin: 0;
}

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

ion-spinner {
  display: flex;
  margin: 0 auto;
}
ion-slide ion-card {
  width: 100%;
  // height: 115px;
}
