<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-img src="assets/img/logo/logo.svg" class="logo-header"></ion-img>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <form [formGroup]="productsForm">
      <ion-list>
        <ion-item lines="inset">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-text
          color="danger"
          *ngIf="errorControl.name.dirty && errorControl.name.errors?.required"
        >
          Especifica el nombre del producto.
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Descripción</ion-label>
          <ion-input type="text" formControlName="description"></ion-input>
        </ion-item>

        <ion-text
          color="danger"
          *ngIf="errorControl.description.dirty && errorControl.description.errors?.required"
        >
          Especifica la descripción del producto.
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Unidad</ion-label>
          <ion-input type="text" formControlName="unit"></ion-input>
        </ion-item>

        <ion-text
          color="danger"
          *ngIf="errorControl.unit.dirty && errorControl.unit.errors?.required"
        >
          Especifica el tipo de unidad del producto.
        </ion-text>

        <ion-item lines="inset" lines="inset">
          <ion-label position="floating">Precio</ion-label>
          <ion-input
            pattern="(\d)+(\.\d{2})?"
            type="text"
            formControlName="price"
          ></ion-input>
        </ion-item>

        <ion-text
          color="danger"
          *ngIf="errorControl.price.dirty && (errorControl.price.errors?.required || errorControl.price.errors?.pattern)"
        >
          Precio inválido.
        </ion-text>
      </ion-list>

      <ion-button
        type="button"
        class="ion-margin"
        expand="full"
        (click)="crearProducto()"
      >
        Crear Producto
      </ion-button>
    </form>

    <ion-card
      *ngFor="let product of products | async; trackBy: trackBy"
      class="ion-margin-top"
    >
      <ion-card-header>
        <ion-card-title>{{product.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Precio: Q.{{ product.price }}
        <br />
        <hr />

        <div class="ion-text-end">
          <ion-button
            color="tertiary"
            (click)="product.edit = true"
            [disabled]="product.edit"
          >
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="eliminar(product.uid)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>

      <ion-card-content [hidden]="!product.edit">
        <form
          #pForm="ngForm"
          (submit)="actualizarProducto(pForm.form, product)"
        >
          <ion-list inset>
            <h2>Editar</h2>

            <ion-item lines="inset">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" ngModel name="name"></ion-input>
            </ion-item>

            <ion-item lines="inset">
              <ion-label position="floating">Descripción</ion-label>
              <ion-input type="text" ngModel name="description"></ion-input>
            </ion-item>

            <ion-item lines="inset">
              <ion-label position="floating">Unidad</ion-label>
              <ion-input type="text" ngModel name="unit"></ion-input>
            </ion-item>

            <ion-item lines="inset" lines="inset">
              <ion-label position="floating">Precio</ion-label>
              <ion-input
                pattern="(\d)+(\.\d{2})?"
                type="text"
                ngModel
                name="price"
              ></ion-input>
            </ion-item>
          </ion-list>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text
                  color="danger"
                  *ngIf="product.msg"
                  class="ion-text-center"
                >
                  {{product.msg}}
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
              <ion-col>
                <ion-button color="warning" type="submit">
                  Actualizar
                </ion-button>
              </ion-col>

              <ion-col>
                <ion-button color="medium" (click)="product.edit = false">
                  Cancelar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
