.md.title-large {
  text-indent: 35px;
}

ion-card {
  ion-card-content {
    border-top: 1px solid #e0e0e0;
    padding-top: 16px;
  }
  ion-progress-bar {
    height: 18px;
    border-radius: 15px;
  }
}

ion-list {
  ion-item {
    ion-list {
      margin: 0;
      padding: 0;
      ion-label {
        margin: 0;
        margin-left: 20px;
        padding: 0;
      }

      * {
        --min-height: 25px;
      }
    }
  }
}

ion-list.small {
  * {
    --min-height: 25px;
    --margin: 0;
    --padding-start: 0;
    --padding-end: 0;
  }
  ion-label {
    margin: 0;
    padding: 0;
  }
}

ion-card-title {
  font-size: x-large;
  span {
    font-weight: lighter;
  }
}
ion-rating {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
