<ion-content fullscreen class="ion-padding">
  <div class="hide-md ion-text-center ion-hide-lg-up">
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

  <div>
    <h4 class="ion-no-margin ion-text-center">Agregar Registro</h4>
  </div>

  <form [formGroup]="recordForm">
    <ion-list class="ion-no-margin ion-margin-horizontal ion-no-padding">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="isSubmitted && errorControl.name.errors?.required"
      >
        Especifica el nombre del historial.
      </ion-text>
    </ion-list>

    <ion-grid>
      <ion-row class="ion-padding-start">
        <ion-col>Documento</ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col>
          <ion-button
            color="medium"
            type="button"
            (click)="uploadDoc('gallery')"
          >
            <ion-icon slot="start" name="images-outline"></ion-icon>
            Galeria
          </ion-button>
        </ion-col>
      </ion-row>

      <input
        type="file"
        accept="image/jpeg, image/png, application/pdf, .doc, .docx"
        #filePicker
        (change)="onFileChoose($event)"
      />

      <ion-row *ngIf="!!document">
        <ion-col class="ion-align-items-center">
          <img
            *ngIf="['png', 'jpg'].includes(fileExt); else elseBlock"
            [src]="document"
          />
          <ng-template #elseBlock>
            <span>No hay previsualización para este archivo.</span>
          </ng-template>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!!uploadFile">
        <ion-col>
          <ion-button
            type="button"
            (click)="deleteDoc()"
            color="danger"
            class="ion-float-right ion-margin-right"
            size="small"
          >
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Eliminar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button
      (click)="onSubmit()"
      class="ion-margin"
      expand="block"
      color="primary"
      [disabled]="!recordForm.valid || !uploadFile"
    >
      Crear Registro
    </ion-button>
  </form>
</ion-content>
