// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");

/** Ionic CSS Variables **/
:root {
  --ion-font-family: -apple-system, "Comfortaa", "Roboto", sans-serif;
  --ion-color-primary: #161D22;
  --ion-color-primary-rgb: 22, 29, 34;
  --ion-color-primary-contrast: #EFEFEF;
  --ion-color-primary-contrast-rgb: 239, 239, 239;
  --ion-color-primary-shade: #fff;
  --ion-color-primary-tint: #435867;

  --ion-color-secondary: #EFEFEF;
  --ion-color-secondary-rgb: 239, 239, 239;
  --ion-color-secondary-contrast: #161D22;
  --ion-color-secondary-contrast-rgb: 22, 29, 34;
  --ion-color-secondary-shade: #D2D2D2;
  --ion-color-secondary-tint: #F2F2F2;

  --ion-color-tertiary: #BABABA;
  --ion-color-tertiary-rgb: 186, 186, 186;
  --ion-color-tertiary-contrast: #161D22;
  --ion-color-tertiary-contrast-rgb: 22, 29, 34;
  --ion-color-tertiary-shade: #808289;
  --ion-color-tertiary-tint: #9d9fa6;


  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #EFEFEF;
  --ion-color-success-contrast-rgb: 239, 239, 239;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #EFEFEF;
  --ion-color-danger-contrast-rgb: 239, 239, 239;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #EFEFEF;
  --ion-color-dark-contrast-rgb: 239, 239, 239;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  
  --ion-color-medium: #4F5457;
  --ion-color-medium-rgb: 79, 84, 87;
  --ion-color-medium-contrast:  #EFEFEF;
  --ion-color-medium-contrast-rgb: 239, 239, 239;
  --ion-color-medium-shade: #646B6F;
  --ion-color-medium-tint: #798085;

  --ion-color-light: #fff;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #161D22;
  --ion-color-light-contrast-rgb:22, 29, 34;
  --ion-color-light-shade: #BFC1C2;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: var(--ion-color-secondary);
  --ion-background-color-rgb: var(--ion-color-secondary-rgb);
}

.md .hide-md {
  display: none;
}

.ios .hide-ios {
  display: none;
}

$grid-breakpoints: (
  xs: 0,
  // Phone (0px - 575px)
  sm: 576px,
  // Phablet (576px - 767px)
  md: 768px,
  // Tablet vertical (768px - 991px)
  lg: 992px // Tablet horizontal, Desktop (992px and above),,,,,
);

$grid-max-widths: (
  lg: 992px,
);

// Desktop
ion-header .toolbar {
  margin: auto;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  ion-navbar.toolbar,
  ion-header .toolbar[fixed],
  ion-footer .toolbar[fixed],
  ion-tabs .tabbar {
    margin: 0;
    padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
    padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .my-modal {
    .modal-wrapper {
      border-radius: 10px 10px 0px 0px;
      top: 20%;
      position: absolute;
      height: 80%;
    }
  }
}
