<ion-content fullscreen class="ion-padding">
  <div class="hide-md ion-text-center ion-hide-lg-up">
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

  <div>
    <h4 class="ion-no-margin ion-text-center">Solicitar Servicio</h4>
  </div>

  <form [formGroup]="orderForm" (submit)="onSubmit()">
    <ion-list class="ion-no-margin ion-margin-horizontal ion-no-padding">
      <ion-item>
        <ion-label position="floating">Vehículo</ion-label>
        <ion-select formControlName="car">
          <ion-select-option *ngFor="let car of cars | async" [value]="car.uid"
            >{{ car.brand }} {{ car.line }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="
          (orderForm.get('car').touched || orderForm.get('car').dirty) &&
          errorControl.car.errors?.required
        "
      >
        Especifica un carro.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Servicios</ion-label>
        <ion-select multiple="true" formControlName="services">
          <ion-select-option
            *ngFor="let service of services | async"
            [value]="service"
            >{{ service.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="
          (orderForm.get('services').touched ||
            orderForm.get('services').dirty) &&
          errorControl.services.errors?.required
        "
      >
        Especifica los servicios.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime
          [min]="minDate | date: 'yyyy-MM-dd'"
          formControlName="date"
          displayFormat="DD/MM/YYYY"
          display-timezone="America/Guatemala"
        ></ion-datetime>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="
          (orderForm.get('date').touched || orderForm.get('date').dirty) &&
          errorControl.date.errors?.required
        "
      >
        Especifica la fecha para el servicio.
      </ion-text>
    </ion-list>

    <ion-button
      type="submit"
      class="ion-margin"
      expand="block"
      color="secondary"
      [disabled]="!orderForm.valid || clicked"
    >
      Registrar
    </ion-button>
  </form>
</ion-content>
