<ion-header class="ion-no-border">
  <ion-toolbar translucent class="ion-text-center">
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let order of orders">
    <ion-card-header>
      <ion-card-title *ngIf="order.car;else noCar">
        Servicio para {{order.car.brand}} {{order.car.line}}
      </ion-card-title>
      <ng-template #noCar>
        <ion-card-title> Carro no registrado </ion-card-title>
      </ng-template>

      <ion-card-subtitle>
        Fecha: {{ order.date.toDate() | date:'dd/MM/yyyy' }}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Estado:
        <ion-text [color]="statusColor[order.status]">
          {{ order.status }}
        </ion-text>
      </ion-card-subtitle>
      <ion-rating
        *ngIf="order.rating"
        [rate]="order.rating | number:'1.0-0'"
        size="small"
        readonly="true"
      ></ion-rating>
    </ion-card-header>

    <ion-card-content
      *ngIf="order.progress < 100 && order.status == 'En Progreso'"
    >
      <ion-card-title>Progreso {{order.progress}}%</ion-card-title>
      <ion-progress-bar
        class="ion-margin-top"
        color="tertiary"
        [value]="order.progress/100"
      ></ion-progress-bar>

      <!-- <div class="progress-outer ion-margin-top">
        <div class="progress-inner">90%</div>
      </div> -->
    </ion-card-content>

    <ion-card-content *ngIf="order.services && order.services.length > 0">
      <ion-card-title>Servicios</ion-card-title>
      <ion-list lines="none">
        <div *ngFor="let service of order.services">
          <ion-item>
            <ion-label>{{service.name}}</ion-label>
            <ion-badge color="light" slot="end" *ngIf="service.price">
              {{service.price | currency:'GTQ':'symbol-narrow'}}
            </ion-badge>
          </ion-item>
          <ion-item *ngIf="service.products && service.products.length > 0">
            <ion-list>
              <ion-item *ngFor="let product of service.products">
                <ion-label>{{product.name}}</ion-label>
                <ion-badge color="light" slot="end" *ngIf="product.price">
                  {{product.price | currency:'GTQ':'symbol-narrow'}}
                </ion-badge>
              </ion-item>
            </ion-list>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>

    <ion-card-content>
      <ion-card-title>
        Total <span>{{sumTotal(order)| currency:'GTQ':'symbol-narrow' }}</span>
      </ion-card-title>
    </ion-card-content>
    <ion-footer *ngIf="order.status == 'Completado'">
      <ion-row>
        <ion-col class="ion-padding">
          <ion-button
            expand="full"
            color="primary"
            [routerLink]="['/rating', order.uid]"
            routerDirection="forward"
            [disabled]="order.rating"
          >
            Calificar
          </ion-button>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-button expand="full" color="light">Reclamar</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>
