<ion-content>
  <ion-grid fixed>
    <ion-img src="assets/img/logo/logo.svg"></ion-img>
    <div class="main">
      <div>
        <h2>Bienvenido</h2>
        <p>Obten el registro completo de las citas y servicios recibidos.</p>
      </div>
    </div>

    <div class="btn-container">
      <ion-button
        color="light"
        expand="full"
        routerLink="/register"
        routerDirection="forward"
      >
        Crear Cuenta
      </ion-button>

      <ion-button
        color="primary"
        expand="full"
        routerLink="/login"
        routerDirection="forward"
      >
        Comenzar
      </ion-button>
    </div>
  </ion-grid>
</ion-content>
